{% extends "base.html" %}

{% block header %}		
		   <h1><a href="/"><span class="marrom">convert</span><span class="verde">me</span></a></h1>
		   <p class="banner">Yep! O vídeo foi convertido. Clique em play para vê-lo.</p>
{% endblock %}	

{% block conteudo %}	
			<div class="form">
			{% if video.job_done %}   

				<video id="sampleMovie" width="500" preload controls>
					<source src="https://s3-sa-east-1.amazonaws.com/nandotorres/{{ nome_arquivo }}" />
				</video>

			{% else %}
				<div class="alert alert-block">
				  <button type="button" class="close" data-dismiss="alert">&times;</button>
				  <h4>Unnnf!!!!</h4>
				  A conversão do seu vídeo ainda não ficou pronta. Talvez ela esteja em andamento e você pode tentar atualizar esta página daqui uns minutos. Talvez seja um erro permanente e você deva tentar converter novamente seu vídeo.
				</div>
			{% endif %}

			<div class="alert alert-info" id="banner-arquivo-original">
			  Arquivo original: <br /><b><a href="http://nandotorres.s3.amazonaws.com/videos/{{ video.file.name }}">http://nandotorres.s3.amazonaws.com/videos/{{ video.file.name }}</a></b>
			</div>
			
			<div class="alert alert-success" id="banner-arquivo-convertido">
			  Arquivo convertido: <br /><b><a href="https://s3-sa-east-1.amazonaws.com/nandotorres/{{ nome_arquivo }}">https://s3-sa-east-1.amazonaws.com/nandotorres/{{ nome_arquivo }}</a></b>
			</div>

		  </div>
{% endblock %}